.navbar {

    background-color: #253C34;
    font-size: 25px;
    display: flex;
    flex-direction: row;

    .upper-right {
        display: flex;
        flex-direction: column;
        justify-content: right;
        color: $secondary-color-gold;
        font-size: 15px;
        padding: 10px 10px 0 0;
    }

    img {
        width: 150px;
    }

    ul {
        list-style-type: none; /* Remove default bullets */
        padding: 10px;
        margin: 0;
        display: flex;
        justify-content: space-evenly; /* Default alignment */
        flex-grow: 1;
        align-items: center;
    }
  
    li {
        background-color: #253C34;
        align-content: center;
        transition: background-color 0.1s ease-in;
        //border-bottom: 4px solid transparent;
        border-radius: 5px;
        color: #BEAA6F;
        height: 30%;
        padding: 10px;
        position: relative; /* Required for absolute positioning of the pseudo-element */
        overflow: hidden;   /* Ensures the border stays within the element */
    }

    li::before {
        content: '';
        position: absolute;
        bottom: 0;
        left: 50%;  /* Start at the center */
        width: 0;
        height: 4px;
        background-color: #BEAA6F;
        transition: width 0.3s ease, left 0.3s ease; /* Animates width and position */
    }

    /* Trigger the animation on hover */
    li:hover::before {
        left: 0; /* Move it to the left */
        width: 100%; /* Expand to full width */
    }

    li:hover {
        background-color: white;
        border-color: #BEAA6F;
    }

    a {
        text-decoration: none;
        color: #BEAA6F;
    }

    a:visited {
        color: #BEAA6F;
    }
  
  /* Media query for screens 768px wide or less (mobile/tablet) */
    @media screen and (max-width: 768px) {
    
        ul {
        flex-direction: column; /* Stack the items vertically */
        align-items: center;    /* Center items horizontally */
        }
    
        li {
        margin: 10px 0; /* Space between items in vertical layout */
        text-align: center; /* Center text within each <li> */
        }
        
    }

}