@import "../variables.scss";

.student-dashboard {

    .course-container {
        display: flex;
        flex-wrap: wrap;
        padding: 20px;
    }
    
    .course-card {
        flex: 0 0 calc(33.33% - 10px);
        box-sizing: border-box;
        margin-right: 10px;
        margin-bottom: 20px;
        border: 2px solid $secondary-color-gold;
        border-radius: 5px;
        background-color: $primary-color-green;
        color: $secondary-color-gold;

        opacity: 0;
        transition: transform 0.7s ease, opacity 0.7s ease; 
        
        @media(max-width: 768px) {
            flex: 0 1 auto;
            margin-right: 0;
        }
    
        .course-card-content {
            padding: 20px;

            h2 {
                margin-top: 0;
                margin-bottom: 30px;
                text-decoration: underline;

            }

            p {
                font-size: 18px;
            }

        }

        .button-div {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 20px;

            button {
                width: 40%;
            }
        }

        img {
            width: 100%;
            height: 300px;
        }

    }

    h1 {
        padding: 40px;
        margin: 0;
        background-color: $primary-color-green;
        color: $secondary-color-gold;
        border: 7px solid $secondary-color-gold;
        text-decoration: underline;

        @media screen and (max-width: 768px) {
            //padding: 40;
            text-align: center;
        }
    }

    h1:first-of-type {
        margin-top: 30px;
    }

    .error-message {
        font-size: 20px;
        padding: 40px;
        margin: 0;
    }
}