@import "../variables.scss";

.teacher-course {

    border: 1px solid black;
    margin: 0 0 40px 0;
    background-color: $primary-color-green;
    color: $secondary-color-gold;
    border-radius: 3px;

    h2 {
        text-align: center;
    }

    table {
        border-collapse: collapse;
        //margin-top: 20px;
        width: 100%;
        table-layout: fixed;

        @media (max-width: 768px) {
                width: 100%;
                overflow-x: auto;
        }
    }

    th, td {
        border: 1px solid $secondary-color-gold;
        padding: 10px;
        text-align: left;
        width: 100%;
    }

    td {
        @media (max-width: 768px) {
            word-wrap: break-word;
            word-break: break-word;
        }
    }

    button {
        @media (max-width: 768px) {
            word-wrap:normal;
            word-break: normal;
        }
    }

    tr {
        width: 100%;
    }

    th {
        background-color: $primary-color-green;
    }

    .enroll-div {
        display: flex;
        justify-content:space-between;
    }

    .course-heading {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;

        .centered-item {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);

            @media (max-width: 768px) {
                position: relative;
                left: 20px;
                transform: none;
            }
        }
        
        .right-item {
            margin: 10px 10px 10px auto;
        }
    }
}