/* Center the container */
.teacher-dashboard {

    height: 100vh; /* Full viewport height */

    .popup {
        position: fixed;
        top: 20px;
        right: 20px;
        padding: 10px 20px;
        background-color: #4CAF50;
        color: white;
        border-radius: 5px;
        z-index: 1000;
        transition: opacity 0.8s ease;
    }

}