@import "../variables.scss";

.home-page-container {

    display: flex;
    flex-direction: column;
    margin: auto;

    .item {
        color: $secondary-color-gold;
        background-color: $primary-color-green;
        width: 80%;
        margin-top: 20px;
        margin-bottom: 30px;
        font-size: 20px;
        padding: 30px;
    
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;

        img {
            width: 400px;
            height: 400px;
            border: 2px solid $secondary-color-gold;
        }
    
        h2 {
            text-decoration: underline;
        }
        
    }


    .left {
        align-self: flex-start;
        margin-left: 2%;
        opacity: 0; /* Start invisible */
        transform: translateX(-50%); /* Start off-screen to the left */
        transition: transform 0.7s ease, opacity 0.7s ease; /* Smooth transition */
    }

    .slide-in-left {
        opacity: 1;
        transform: translateX(0);
    }
    
    .right {
        align-self: flex-end;
        text-align: right;
        margin-right: 2%;
        opacity: 0; /* Start invisible */
        transform: translateX(50%); /* Start off-screen to the left */
        transition: transform 0.7s ease, opacity 0.7s ease; /* Smooth transition */
    }
    
    .slide-in-right {
        opacity: 1;
        transform: translateX(0);
    }
    
}

.map {
    width: 400px;
    height: 400px;
    align-self: center;
    border: 0;
}

.animate {
    opacity: 0;
    transform: translateY(-10px);
    @for $i from 1 through 60 {
        &:nth-child(#{$i}) {
            animation: fadeInUp 
                       $animation-duration 
                       $animation-easing 
                       ($animation-delay * $i) 
                       both;
        }
    }

}