@import "../variables.scss";

.login {

    display: flex;
    justify-content: center;
    align-items: center;
    height: 80vh;

    .form {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 50%;
        height: 50%;
        background-color: $primary-color-green;
    
        opacity: 0; /* Start invisible */
        transform: translateY(50%); /* Start off-screen to the left */
        transition: transform 0.7s ease, opacity 0.7s ease; /* Smooth transition */
    
        h3 {
            color: $secondary-color-gold;
            margin: 0;
            text-align: left;
        }
    
        input {
            font-size: 18px; /* Adjusts the text size */
            padding: 10px;   /* Increases space inside the input */
            height: 30px;    /* Sets a specific height */
            width: 300px;     /* Makes the input field responsive */
            box-sizing: border-box; /* Ensures padding is included in width */
            margin: 10px;
        }
    
    }
    
    .slide-in-up {
        opacity: 1;
        transform: translateY(0);
    }
    
    button {
        background-color: $secondary-color-gold; /* Bootstrap primary color */
        color: $primary-color-green;              /* Text color */
        border: none;              /* No border */
        padding: 10px 20px;        /* Vertical and horizontal padding */
        font-size: 16px;           /* Font size */
        border-radius: 5px;        /* Rounded corners */
        cursor: pointer;           /* Pointer on hover */
        transition: background-color 0.3s, transform 0.2s; /* Smooth transitions */
    }
    
    button:hover {
        background-color: #82744b; /* Darker shade on hover */
    }
    
    button:active {
        transform: translateY(0); /* Reset lift on click */
        background-color: $secondary-color-gold; /* Even darker shade on click */
    }
    
}