.profile {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    height: 80vh;

    .profile-info {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 50%;
        height: 70%;
        background-color: $primary-color-green;
        color: $secondary-color-gold;

        opacity: 0; /* Start invisible */
        transform: translateY(20%); /* Start off-screen to the left */
        transition: transform 0.7s ease, opacity 0.7s ease; /* Smooth transition */

        h1 {
            text-decoration: underline;
        }

        div {
            font-size: 25px;
            margin: 10px 0;
        }

    }

    .left, .right {
        opacity: 0; /* Start invisible */
        transition: opacity 0.7s ease, transform 0.7s ease; /* Smooth transition */
    }
    
    .left {
        transform: translateX(-50%); /* Start off-screen to the left */
    }
    
    .right {
        transform: translateX(50%); /* Start off-screen to the right */
    }
    
    .show {
        opacity: 1;
        transform: translateX(0); /* Slide into view */
    }

    .slide-in-up {
        opacity: 1;
        transform: translateY(0);
    }
}