@import "components/TestComponent.scss";
@import "components/FetchComponent.scss";
@import "components/Navbar.scss";

@import "pages/LoginPage.scss";
@import "pages/RegisterPage.scss";
@import "pages/RegisterSuccessPage.scss";

.wrapper {
    width: 80%; /* or a fixed width, like 600px */
    margin: 0 auto; /* Horizontally center */
    background-color: gray;
}