$primary-color-green: #253C34;
$secondary-color-gold: #BEAA6F;
$tertiary-color-orange: #D56B29;
$tertiary-color-teal: #007B7F;

$cream: #F5F5DC;
$soft-beige: #F5E3C2;
$light-gray: #D3D3D3;
$pale-sage: #C9D5B5;

$animation-duration: 300ms;
$animation-delay: 110ms;
$animation-easing: ease-in-out;